*{margin: 0;padding: 0;box-sizing: border-box;}
.olegMarkov{
  font-family: "Marck Script"; 
  font-size: 42px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color: black;
  text-decoration: none;
}
.olegMarkov:hover{
  color: black;
}
.item{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.item img{
  width: 100%;
  height: auto;
  padding: 10px;

}
.footerInfo{
  font-size: 12px;
}
.footerInfo a{
  color:black;
}
.footerInfo a:hover{
  color: black;
}
.icons a img{
  width: 19px;
  margin: 2px;
}
